table {
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid lightgray;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: lightblue;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
