
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: white;
}
th {
  background-color: lightblue;
  color: black;
} 
.content {
  padding: 20px;
  text-align: center;
}

.shopnow img{
  width: 40%;
}

#shopnow {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 40px;
}

.shopnow {
  width: 45%;
  position: relative;
  text-align: center;
 
}

.shopnow img {
  width: 100%;
  height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  font-size: xx-large;
}

.shopnow button{
  border: none;
  font-size: 20px;
  background-color: lightblue;
  padding: 5px;
}

.shopnow button:hover {
  cursor: pointer;
  opacity: 50%;
  transition: 0.3s;
}

h3 {
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

h6 {
  font-size: 26px;
  color: rgb(55, 153, 186);
  margin: 0;
}

.gallery {
  display: inline;
}

.products {
  width: 85%;
  display: inline-flex;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  background: #f2f2f2;
  align-items: center;
  justify-content: space-evenly;
}

.products img {
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.remove{
  background: white;
  padding: 10px;
  border: 2px solid lightblue;
}

.basket .order  {
  color: black;
  background: lightblue;
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 30px;
  border: none;
}

.basket .order:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

